.idea/
workspace/data_src/
workspace/data_dst/
workspace/model/
_internal/_e/
_internal/CUDA/
_internal/CUDNN/
_internal/doc/
_internal/EbSynth/
_internal/ffmpeg/
_internal/model_generic_xseg/
_internal/pretrain_Quick224/
_internal/pretrain_Quick512/
_internal/python_common/
_internal/XnViewMP/
*.npy
*.mp4
*.png
*.jpg
*.jpeg
*.dat
*.txt
*.pyc